<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BookUp</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <%=stylesheet_link_tag "site.min"%>
    <%=stylesheet_link_tag "style"%>

    <%=javascript_include_tag "site.min"%>


  </head>
  <body style="background-color: #f1f2f6;">
    <div class="docs-header">
      <!--nav-->
      <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="#">Bookup</a></li>
            </ul>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link current" href="getting-started.html">About</a></li>
              <!-- <li><a class="nav-link current" href="documentation.html">Profile</a></li> -->
              <li><a class="nav-link" href="free-psd.html">Log In</a></li>
              <li><a class="nav-link" href="free-psd.html">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </nav>
      </div>

      <div class="aquaground">
        <h1 class = "whiteHeader">Bookup</h1>
        <h4 class="subheader">Let us find your next book</h4>
        <h4 class="subheader">In the <span class = "bold">simplest</span> way possible.</h4>
      </div>
      <br>
      <br>
      <div class="contain">
        <h1 class="aquaHeader">How Do We Do It?</h1>
        <h4 class="subheaderaqua">All you have to do is tell us the books you 
        <span class="bold">Like</span> or <span class="bold">Dislike</span>!</h4>

        <div class="centerdamnbutton">
          <button type="button" class="btn btn-primary">Want to try it out?</button>
        </div>
      </div>



  </body>
</html>
