<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Documentation - Bootflat</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="css/site.min.css">
    <script type="text/javascript" src="js/site.min.js"></script>

  </head>
  <body style="background-color: #f1f2f6;">
    
  <%= render :partial => '/menu',:locals => {:splash => 'nav-link',:login => 'nav-link',:signup => 'nav-link'}%>
      <!--header-->
      
        <div class="container">
          <h1 class="aquaHeader">
          <%= @book.name %> 
          </h1>
          <h4 class="subheaderaqua">
          <%= @book.author %>
          </h4>
        <div class="cover">
          Cover of book here
        </div>
        <div class="topic__infos">
          <div class="wiki">
            Wikipedia data here...
          </div>
        </div>

        <div class="centerdamnbutton">
          <p><a href="#" class="btn btn-success" role="button">I like it!</a>
          <a href="#" class="btn btn-danger" role="button">No Thanks</a>
          </p>
        </div>

        </div>

  </body>
</html>
