body {
	background-color: #f1f2f6;
}
.whiteHeader {
	color: white ;
	text-align: center;
	margin: 30px;
	margin-top: 0px;
	padding-top: 25px;
	font-size: 48pt;
}

.aquaHeader {
	color: #3BAFDA ;
	text-align: center;
	margin: 0;
	padding-top: 25px;
	font-size: 48pt;
}

.subheader {
	color: white;
	font-weight: 300;
	text-align: center;
	font-size: 36pt;
}

.subheaderaqua {
	color: #3BAFDA;
	font-weight: 300;
	text-align: center;
	font-size: 36pt;
	margin: 30px;
}

.aquaground {
	background-color: #3BAFDA;
	margin: 0 auto;
	height: 325px;
}

.whiteground {
	background-color: white;
	margin: 0 auto;
	/*height: 325px;*/
}

.bold {
	font-weight: 600;
}


.centerdamnbutton {
	margin: 20px auto;
	position: relative;
	text-align: center;
}

.form-search{
	padding-top: 10px;
}